.carousel-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-sidepanel {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-arrow-button {
    outline: 0;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.carousel-tape {
    height: 100%;
    width: calc(100% - 100px);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 100px;
}

.carousel-image-container {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    max-height: 100%;
    max-width: 100%;
}