.carousel-wrapper {
    width: 500px;
    height: 100%;
    overflow: scroll;
    border: 2px solid red;
}

.carousel-tape {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.carousel-image {
    max-height: 100%;
    max-width: 100%;
    flex: 1;
}