body {
    background-color: #252526;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    padding: 200px;
    display: flex;
    justify-content: space-evenly;
}

.dropdown-wrapper {
    background-color: #3e3e42;
}